body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fdf1e0;
    background-image: url('../assets/images/banner1.png'); /* Replace with your own background image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
   height: 300px;
  }
  
  .content {
    max-width: 50%;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .newsletter {
    display: flex;
  }
  
  input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #00a86b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .image-section img {
    max-width: 300px;
    border-radius: 10px;
  }
  